---

import "../../public/styles/global.css";
import IconLink from "../components/IconLink.astro";
import Layout from "../components/Layout.astro";
let title = "Desarrollo web Frontend Backend"
let subtitle = "Técnico en Programación y Análisis de Sistemas"
import { tags ,projects,tools } from "../utils/data";

---



<Layout>
	
	<header  class=" w-4/5 sm:w-2/3  self-center flex  ">
		
		<div class="">
			<img class="w-full sm:w-32 " src="/void1499/images/tux.gif" alt="linux-tux">
		</div>
		<div class=" flex flex-col  justify-center">
			<h1 data-animation="slide-right" class=" font-semibold text-2xl sm:text-4xl text-start ">
				{title}
			</h1>
			<h2 data-animation="slide-right" class=" font-semibold text-1xl sm:text-2xl   text-start ">
				{subtitle}
			</h2>
		</div>
	
	</header>
 

	<section  class="w-4/5 sm:w-2/3  self-center grid grid-cols-6 gap-5 bg-dark" >

		<h2 class="col-span-6 font-semibold text-2xl text-white-noise w-full ">
			Tecnologias / Herramientas 🛠️
		</h2>


		{tools.map(item => (
					<div class="relative col-span-6 sm:col-span-2 row-span-10 rounded-md bg-darker p-2 flex flex-col shadow-slate-950/50 shadow-sm overflow-hidden  "  >
						<div class="flex flex-wrap justify-center items-center   gap-1  h-full z-10 bg-transparent">
							{
								item.icons.map(icon=>(
									<IconLink  class="w-7  flex-initial m-0" src={`/void1499/icons/${icon}.svg`}  ></IconLink>
								))
							}
						</div>
						<span class="text-helix font-semibold text-end z-10">
							{item.subtitle}
						</span>
						<div   class="scale-up delay-2  absolute w-32 h-32 bg-linear-to-r/decreasing from-indigo-500 to-teal-400 blur-2xl mx-auto inset-x-0 -top-1/2 ">
						</div>
					</div>
			))}
		
	

	</section>
	
	<section class="w-4/5 sm:w-2/3  self-center flex flex-wrap gap-2 text-pill ">
		  {tags.map(item => (
				<span class="px-3 py-1  rounded-full shadow-slate-950/50 shadow-sm">
					{item}
				</span>
			))}
	</section>


	<!-- Proyectos -->
	<section class="w-4/5 sm:w-2/3  self-center flex flex-wrap gap-5 ">

		<h2 class="col-span-6 font-semibold text-2xl text-white-noise  w-full">
			Proyectos 🕹️
		</h2>
		  {projects.map(project => (
			<div  class="relative flex flex-col gap-5 text-white-noise w-full  p-5 rounded-sm overflow-hidden " >
				
				<h2 class="font-semibold text-2xl ">
					{project.title}
				</h2>
				<p class="text-white-noise">
					{project.description}
				</p>

					<span class=" w-full flex flex-wrap  gap-2">
					{
						project.tags.map(tag=>(
							<span class="px-3 py-1  rounded-full shadow-slate-950/50 shadow-sm">
								{tag}
							</span>
						))
					}
				</span>

				<span class=" w-full flex justify-end items-center gap-2">
					{
						project.links.map(link=>(
							<IconLink  class="w-7" src={`/void1499/icons/${link.icon}.svg`}  href={link.href} ></IconLink>
						))
					}
				</span>


			</div>
			))}
	</section>


	
</Layout>